[submodule "reference/vercel-ai-sdk"]
	path = reference/vercel-ai-sdk
	url = https://github.com/vercel/ai.git
[submodule "reference/opentui"]
	path = reference/opentui
	url = https://github.com/sst/opentui
[submodule "reference/anthropic-sdk-typescript"]
	path = reference/anthropic-sdk-typescript
	url = https://github.com/anthropics/anthropic-sdk-typescript.git
[submodule "reference/react"]
	path = reference/react
	url = https://github.com/facebook/react.git
[submodule "reference/opencode"]
	path = reference/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "reference/pi-mono"]
	path = reference/pi-mono
	url = git@github.com:badlogic/pi-mono.git
[submodule "reference/libvaxis"]
	path = reference/libvaxis
	url = git@github.com:rockorager/libvaxis.git
[submodule "reference/tui-tester"]
	path = reference/tui-tester
	url = https://github.com/luxquant/tui-tester.git
